
<div class="container-fluid d-flex flex-column align-items-center mt-5", style="max-width:1000px">
 <h1>Création d'un nouvel event à Malte</h1><br>
  <%= form_with model: @event do |f| %>
    <div class="form-group">
      <%= f.text_field :title, placeholder: "Titre", class: 'form-control', minlength: 5 %>
      <%= f.text_area :description, placeholder: "Description", class: 'form-control',minlength: 5, maxlength:140  %>
      <%= f.number_field :price, placeholder: "Prix", class: 'form-control', min:1  %>
      <%= f.text_field :location, placeholder: "Lieu", class: 'form-control'  %><br>
      <%= f.label "Date de début" %>
      <%= f.date_select :start_date %><br><br>
      <%= f.label "Durée en minutes" %>
      <%= f.select :duration, (5..120).step(5).to_a %><br><br>
      <%= f.label "Merci d'ajouter une photo à votre event :" %>
      <p><%= f.file_field :photoevent, class: "form-control" %></p>
      <%= f.submit "Create Event", class: "btn btn-primary"  %>
    </div>
  <% end %>
</div>

