<% flash.each do |name, msg| %>                                                        
  <div class="alert alert-success" role="alert"> <%= msg %> </div>       
<% end %>   

<h2>Tu souhaites participer à cet évènement ?</h2>
<p>
Le <%= @event.start_date.strftime("%d-%m-%y") %> se tiendra le <strong><%= @event.title %></strong> à <%= @event.location %>
</p>

<strong>Détails de l'évènement :</strong>
<ul>
<li> Description : <%= @event.description %> </li>
<li> Evènement organisé par : <%= @event.administrator.email %> </li>
<li> Actuellement nous sommes : <%= @event.attendants.count %> participants !  </li>
<li> Date de début : le <%= @event.start_date.strftime("%d-%m-%y") %> à <%= @event.start_date.strftime("%H:%M") %> </li>
<li> Il vous en coutera : <%= @event.price %>€ </li>
</ul>
