<% flash.each do |name, msg| %>                                                        
  <div class="alert alert-<%=name%>" role="alert"> <%= msg %> </div>       
<% end %>   

<h1>Page d'acceuil : liste des attendances à Malte </h1>

<ul>
<% @attendances.each_with_index do |attendance, index|%>
<li> Le <%= attendance.event.start_date.strftime("%d-%m-%y") %> se tiendra l'event <strong><%= attendance.event.title %></strong> à <%= attendance.event.location %>
<%= link_to "Cliquer ici", attendance_path(attendance.id) %>
</li>
<% end %>

<div class="m-3">
    <h2> Rien que pour vous : tous les Gossips de THP ! </h2><br/>
    <div class="row m-1">
      <% @attendances.each_with_index do |attendance, index| %>
        <div class = "col d-flex align-items-top">
          <div class="card mb-3 p-3" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title d-flex justify-content-center" style="height: 3rem;">"<%= attendance.event.title %>"</h5>
              <p class="card-text d-flex justify-content-center">Auteur</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-center">&nbsp;Date de création<br/></li>
                <li class="list-group-item d-flex justify-content-center">Nombre de participants : </li>
                <p> </p>
              </ul>
              <div class="btn btn-warning d-flex justify-content-center">
                <%= link_to "Le Gossip en détails", root_path, style: 'color:white' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
